@media (max-width: 768px) {
	:root {
		--vidw: 90vw;
		--vidh: 50vh;
		--direction: column;
	}
}

@media (min-width: 768px) {
	:root {
		--vidw: 90vw;
		--vidh: 90vh;
		--direction: row;
	}
}

* {
	margin: 0;
	right: 20vw;
	font-family: Georgia, "Times New Roman", Times, serif;
}
p {
	margin: 0;
}
img {
	margin: 0;
}
.nav-bar {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	right: 10vw;
	left: 10vw;
	height: 10vh;
	width: 90vw;
	justify-content: space-around;
}
.nav-bar div {
	flex: 1;
}
.nav-side {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 10vh;
	right: 0;
	height: 90vh;
	width: 10vw;
	justify-content: space-around;
	text-align: center;
}
.page-header {
	margin-top: 10vh;
	text-align: center;
}

.section-title {
	text-align: center;
}

.section-content {
	text-align: left;
	margin-right: 10vw;
}

.section-content-artists {
	display: flex;
	flex-direction: var(--direction);
	justify-content: left;
	width: 90vw;
}
.artist-box {
	flex: 30%;
	height: 35vh;
	padding: 1px;
	display: flex;
	flex-direction: row;
}
.artist-box div {
	flex: 50%;
	padding: 2px;
	border: 2px solid black;
}

.artist-box img {
	height: 35vh;
	width: 100%;
}
.artist-box p {
	height: 35vh;
	width: 100%;
}
.video-div {
	width: var(--vidw);
	height: var(--vidh);
}
.form {
	text-align: center;
}
