* {
	margin: 0;
	right: 20vw;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.nav-bar {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	right: 10vw;
	left: 10vw;
	height: 10vh;
	width: 90vw;
	justify-content: space-around;
}
.nav-bar div {
	flex: 1;
}
.nav-side {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 10vh;
	right: 0;
	height: 90vh;
	width: 10vw;
	justify-content: space-around;
	text-align: center;
}
.page-header {
	margin-top: 10vh;
	text-align: center;
}

.section-title {
	text-align: center;
}

.section-content {
	text-align: left;
	margin-right: 10vw;
}
